<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">Friedrich Silcher - Werkverzeichnis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta data-template="config:app-meta"/>
        <meta charset="utf-8"/>
        
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/exist/apps/silcherWerkverzeichnis/resources/css/styles.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sticky-footer/"/>
        <link href="http://localhost:8080/exist/apps/jfBriefeApp/resources/css/sticky-footer.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"/>
    </head>

    <body class="d-flex flex-column h-100" lang="de">
        <div id="main-container">
            <div>
                <nav data-template="templates:include" data-template-path="templates/navbar.html"/>
            </div>
            <div class="container background">
                <div id="content" class="container row"/>
            </div>
            <div>
                <footer data-template="templates:include" data-template-path="templates/footer.html"/>
            </div>
        </div>
    </body>
</html>